{% include 'recipes/partials/head.html' %}

<body>
    <header class="main-header-container"> <!-- Container maior --> 
        <div class="main-header container"> <!-- Container menor --> 
            <h1> 
                <a class="main-logo" href="/"> <!-- Link que aponta para a home --> 
                    <i class="fas fa-solid fa-utensils main-logo-icon"></i> 
                    <span class="main-logo-text">Recipes </span>    
                </a>
            <h1>    
        </div>

    </header>

</body>
</html>